.hero-text {
  width: 100%;
  height: 85%;
  background-image: url(../img/assets/asset20.png);
  background-repeat: no-repeat;
  background-size: 60%;
  background-position: top 30%;
  position: absolute;
  bottom: 0;
  h1 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
  }
}

.one {
  background-color: $main-color;

  h2 {
    width: 60rem;
    margin: auto;
  }

  p {
    width: 70%;
    margin: auto;
    margin-bottom: $med;
  }

  span {
    font-weight: bold;
  }
}
