.navbar {
  height: auto;
  @include Elcenter(row, space-between, center);
  padding: 4rem;
  position: sticky;
  z-index: 9999;
  &__logo {
    width: 20rem;
    height: 6rem;
  }

  &__list {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 5rem;
  }
  &__items {
    flex: 1 0 auto;
    position: relative;
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
  }
  &__items:hover > .navbar__sublist {
    top: 2rem;
    left: 0rem;
    z-index: 999;
    opacity: 1;
    visibility: visible;
    width: max-content;
  }

  &__link,
  &__sublink {
    color: $text-color;
    text-decoration: none;
    font-family: $sub-heading-font;
    text-transform: uppercase;
    font-size: 1.4rem;
    position: relative;
  }
  &__sublink {
    font-size: 1.2rem;
  }

  &__sublist {
    position: absolute;
    top: -3rem;
    left: 0;
    z-index: -999;
    opacity: 0;
    visibility: hidden;
    list-style: disc;
    transition: all .2s ;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -ms-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
  }
}
