// color
$main-color: #f5b8bc;
$secondary-color: #cbd5ee;
$text-color: #084d90;

// font
$heading-font: "Dancing Script", cursive;
$text-font: "Nunito Sans", sans-serif;
$sub-heading-font: "Nunito", sans-serif;


