.btn {
  outline: none;
  background-color: $text-color;
  font-size: 1.4rem;
  border: none;
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
  position: relative;
  z-index: 1;
  overflow: hidden;
  cursor: pointer;
  @include respond(big) {
    font-size: 1.2rem;
  }

  
  &__link {
    color: #fff;
    text-decoration: none;
    display: inline-block;
    padding: 0.8rem 1.6rem;
    font-weight: 800;
    text-transform: uppercase;
    


  }

  &__raduis {
    @include raduis(5rem);
    padding: 1.4rem 2.2rem;
    text-decoration: underline;
  }

  &::before {
    content: "";
    background-color: $main-color;
    width: 0%;
    height: 0%;
    position: absolute;
    top: 0;
    left: 50%;
    opacity: 0;
    border-radius: 5rem;
    z-index: -1;
    transition: width 1s;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    -webkit-transition: width 1s;
    -moz-transition: width 1s;
    -ms-transition: width 1s;
    -o-transition: width 1s;
}
  &:hover::before {
    width: 200%;
    height: 100%;
    opacity: 1;
  }
}
button{
  outline: none;
  background: transparent;
  border: none;
}

